

body {
    background-color: rgb(249, 236, 199);
}
h1   {
    color: rgb(172, 154, 107);
}
p    {
    color: rgb(17, 15, 15);
}
h3   {
    color: rgb(52, 46, 23)
}
a    {
    color: rgb(8, 8, 8)
}
div  {
    color: rgb(0, 0, 0)
}
